MONGODB_URI=mongodb://USER:PASSWORD@HOSTS/nova_pharm?ssl=true&replicaSet=REPLICA_SET&authSource=admin&appName=Cluster0
MONGODB_DB_NAME=nova_pharm
NOVA_STAFF_BOOTSTRAP_KEY=change-this-to-a-long-random-secret
